

<div class="col-4">
	Contact Info
	<br />
	@{
		Html.RenderPartial("PersonalContactInfo");
	}
</div>




<div class="col-4">
	Social Media
	<br />
	<a href="https://www.linkedin.com/in/joseph-miles-spalding">
		<i class="fab fa-linkedin fa-footer"></i>
	</a>
	<a href="https://github.com/joemspalding">
		<i class="fab fa-github fa-footer"></i>
	</a>
</div>



<div class="col-4">
	@Html.ActionLink("Error Me!", "NotFound", (string)"Error")
	
</div>


