<div class="col-4">
	Contact info
	<br />
	@{
		Html.RenderPartial("PersonalContactInfo");
	}
</div>
<div class="col-4">
	Social Media
	<ul>
		<li>
			<a href="https://www.linkedin.com/in/joseph-miles-spalding">
				<i class="fab fa-linkedin fa-footer"></i>
				LinkedIn
			</a>
		</li>
	</ul>
</div>
<div class="col-4">
	Error Me!
</div>