@using JoeResumeSite.Models
@{
	ViewBag.Title = "Contact  Me";
}



	<div class="contact-personal-info text-center">
		@{
			Html.RenderPartial("_PersonalContactInfo");
		}

	</div>
	@{
		Html.RenderPartial("_ContactInfo", ContactInfoFactory.LinkedIn);
	}
	@{
		Html.RenderPartial("_ContactInfo", ContactInfoFactory.GitHub);
	}
	@{
		Html.RenderPartial("_ContactInfo", ContactInfoFactory.SoundCloud);
	}
