
@{
    ViewBag.Title = "Contact";
}

Hello from the contact view
<br />

TODO: Have links to all of the social media accounts (maybe even previews)

<div class="resume">
    this div will hold the resume
</div>