@{
	ViewBag.Title = "Joe Spalding";
}

<div class="row">
	<img src="~/Resources/Pictures/profile-thumbnail.jfif" class="index-img" />
</div>

<div class="row">
	<div class="col-10 col-sm-8 mx-auto text-center">
		<h4 class="text-center">joe spalding</h4>
		<p>Thank you for visiting my website! If you're here, you're probably looking for candidates for a position, or you're just interested; that or you're just a pro at finding sites like this and this isn't your first rodeo. Regardless of the reason I'd like to welcome you to my humble internet presence.</p>

		<h5>about me</h5>
		<p>My development experience begins with writing simple scripts for Source Games like Team Fortress 2, mostly just customizing the HUD to be the way I liked it. From there, I began to see that there were larger applications for this particular skillset. At the University of Louisville, I began taking programming classes. From there I discovered that web programming was the most exciting career path for me, which led me to my first internship. The rest is beautiful history on my LinkedIn!</p>



	</div>
</div>