@{
	ViewBag.Title = "Joe Spalding";
}

<div class="row">
	<img src="~/Resources/Pictures/profile-thumbnail.jfif" class="index-img" />
</div>

<div class="row">
	<div class="col-10 col-sm-8 mx-auto">
		<h4 class="text-center">joe spalding</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet risus nullam eget felis eget nunc lobortis mattis aliquam. At tempor commodo ullamcorper a lacus. Sed felis eget velit aliquet sagittis id consectetur. Pellentesque massa placerat duis ultricies. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Enim ut sem viverra aliquet eget. Nec ullamcorper sit amet risus nullam. Dolor purus non enim praesent elementum facilisis leo. Est ante in nibh mauris cursus mattis molestie. Adipiscing vitae proin sagittis nisl rhoncus. Senectus et netus et malesuada fames ac. Bibendum at varius vel pharetra vel. Quis lectus nulla at volutpat diam ut venenatis. Faucibus ornare suspendisse sed nisi.</p>
	</div>
</div>